#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
}

body {
  background-color: #f0ebd8;
}

#home-page {
  display: flex;
}

#title {
  font-family: "JejuHallasan";
}

#topics {
  display: flex;
  justify-content: space-evenly;
}

.topic-card {
  display: flex;
  flex-direction: row;
  margin: 4px;
  background-color: white;
  color: black;
  border: 3px solid #3e5c76;
  box-shadow: 10px 10px 23px 1px black;
  height: 50px;
  border-radius: 10px;
  padding: 4px;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.topic-card:hover {
  bottom: -10px;
  right: -10px;
  box-shadow: 10px 10px 23px calc(1px + 4px) black;
}

.topic-card img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 5px;
}

a {
  color: inherit; /* Makes the text use the parent's color */
  text-decoration: none; /* Removes underline */
  cursor: default; /* Prevents the pointer cursor */
}

button:disabled {
  pointer-events: none; /* Prevents hover effects */
  color: inherit; /* Resets text color */
  cursor: not-allowed; /* Keeps the disabled cursor */
}
