#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
}

#home-page {
  display: flex;
}

#title {
  font-family: "JejuHallasan";
}

#topics {
  display: flex;
  justify-content: space-evenly;
}

.topic-card {
  display: flex;
  flex-direction: row;
  margin: 4px;
  background-color: rgb(140, 140, 140);
  border: 3px solid black;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}

.topic-card img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

a {
  color: inherit; /* Makes the text use the parent's color */
  text-decoration: none; /* Removes underline */
  cursor: default; /* Prevents the pointer cursor */
}

button:disabled {
  pointer-events: none; /* Prevents hover effects */
  color: inherit; /* Resets text color */
  cursor: not-allowed; /* Keeps the disabled cursor */
}
