.chat-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

#user-input {
  --input-color: #3e5c76;
  --input-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 50px;
  background-color: var(--input-color);
  box-shadow: 10px 5px 5px black;
  padding: 4px;
  height: 30px;
  width: var(--input-width);
  border-radius: 15px;
  margin-left: 20px;
}

#user-input textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: var(--input-color);
  width: 100%;
  left: -10px;
  color: white;
}

#user-input button {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #748cab;
  max-height: 30px;
  max-width: 40px;
}

#ai-text {
  text-align: left;
  background-color: purple;
}

button#question {
  position: absolute;
  bottom: 100px;
  background-color: rgb(0, 142, 102);
  border: 1px solid #21705a;
  color: rgb(167, 221, 255);
}

#chat-history {
  overflow-y: scroll;
  overflow-wrap: break-word;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  max-height: 50%;
}

.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
